@page
@model GoodsTime.Pages.Goods.IndexModel
@{
    ViewData["Title"] = "備品一覧";
}
@section scripts {
    <script>
        $(function() {

            let updatePrintButton = function() {
                var len = $('input.form-check-input:checked').length;
                $('#PrintButton').attr('disabled', len == 0);
            }

            $('input.form-check-input').on('change', function () {
                updatePrintButton()
            })

            $('#AllCheck').on('click', function() {
                $('input.form-check-input').prop('checked', true)
                updatePrintButton()
            })
        })
    </script>
}

<div class="row">
    <div class="col-md-12 mb-3">
        <a class="btn btn-success" asp-page="/Goods/Add">備品登録</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="POST" target=_blank>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th scope="col">出力</th>
                        <th scope="col">備品番号</th>
                        <th scope="col">取得日</th>
                        <th scope="col">破棄／返却予定日</th>
                        <th scope="col">最終更新日時</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td><input class="form-check-input" type="checkbox" value="@item.Id" name="Targets" /></td>
                            <td>@item.Number</td>
                            <td>@item.GetDate?.ToString("yyyy/MM/dd")</td>
                            <td>@item.ReleaseDate?.ToString("yyyy/MM/dd")</td>
                            <td>@item.UpdateDate.ToString("yyyy/MM/dd HH:mm:ss")</td>
                            <td><a class="btn btn-success" href="/Goods/Edit?id=@item.Id" role="button">編集</a></td>
                        </tr>
                    }
                </tbody>
            </table>

            <a id="AllCheck" class="btn btn-outline-secondary" href="#">全部チェック</a>
            <input id="PrintButton" class="btn btn-outline-secondary" asp-page-handler="Print" asp-page="Print" type="submit" value="ラベル印刷" disabled />
        </form>
    </div>
</div>