@page
@using GoodsTime.Models.Extensions
@model GoodsTime.Pages.Goods.PrintModel
@{
	Layout = null;
	ViewData["Title"] = "ラベル印刷";
}

<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoodsTime</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GoodsTime.styles.css" asp-append-version="true" />
</head>
<body>
	<div class="row" style="padding: 5px">
		@foreach (var item in Model.Items)
		{
			<div class="col-sm-4 mb-3">
				<div class="card md-3" style="max-width: 540px;">
					<div class="row g-0">
						<div class="col-md-5">
							<div class="qrcode" data-hash="@item.ConvertJsonData().CreateHash()" style="margin:10px"></div>
						</div>
						<div class="col-md-7">
							<div class="card-body" style="padding: 0.5rem">
								<h6 class="card-title">@item.Number</h6>
								<table>
									<tbody>
										<tr>
											<th><small>@Html.DisplayNameFor(m => item.GetDate)</small></th>
											<td style="padding-left: 1rem"><small>@item.GetDate?.ToString("yyyy/MM/dd")</small></td>
										</tr>
										<tr>
											<th><small>@Html.DisplayNameFor(m => item.ReleaseDate)</small></th>
											<td style="padding-left: 1rem"><small>@item.ReleaseDate?.ToString("yyyy/MM/dd")</small></td>
										</tr>
									</tbody>
								</table>
								<p class="card-text mb-0"><small>Consist inc.</small></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery.qrcode.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
	<script>
		$(function () {
			$('div.qrcode').each(function(i){
				var hash = $(this).data('hash')
				var s3url = "http://consisthackathon2023app.s3-website-ap-northeast-1.amazonaws.com/?id=" + hash
				$(this).qrcode({ width: 120, height: 120, text: s3url })
			})
		})
	</script>
</body>
</html>
