@page
@model GoodsTime.Pages.StocktakingEvent.TakingModel
@{
    ViewData["Title"] = string.Concat(Model.StocktakingEvent.CreatedAt.ToString("yyyy/MM/dd"), " 棚卸");
}
@section scripts {
    <script>
        $(function() {
            $('input[type=checkbox]').on('change', function () {
                var stocktakingId = @Model.StocktakingEvent.Id
                var goodsId = $(this).val()

                fetch('/StocktakingEvent/Taking?handler=Taking', {
                    method: 'post',
                    body: JSON.stringify({ 
                        StocktakingId: stocktakingId,
                        GoodsId: goodsId
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then((data) => {
                    if (data.ok) {
                        $(this).prop({ 'disabled': true })
                    }
                    else {
                        alert('エラーが発生しました。ページを閉じてやりなおしてください。')
                    }
                })
            })
        })
    </script>
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">備品番号</th>
                    <th scope="col">取得日</th>
                    <th scope="col">破棄／返却予定日</th>
                    <th scope="col">棚卸チェック</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.Number</td>
                        <td>@item.GetDate?.ToString("yyyy/MM/dd")</td>
                        <td>@item.ReleaseDate?.ToString("yyyy/MM/dd")</td>
                        <td>
                            @if (item.Id.HasValue && Model.TakingEvents.Contains(item.Id.Value))
                            {
                                <input class="form-check-input" type="checkbox" value="@item.Id" name="Targets" checked="checked" disabled="disabled" />
                            }
                            else
                            {
                                <input class="form-check-input" type="checkbox" value="@item.Id" name="Targets" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>